.row
  .col-sm-6.col-sm-push-6
    %h4 How do you identify?
    %p
      .slider-dots
        - %w(L G B T Q A).each_with_index do |letter, i|
          %button.btn.btn-success.btn-lg.btn-fab{ 'data-slide' => i + 1 }= letter
    %div.hidden-xs
      %a.btn.btn-facebook.btn-lg.btn-block.btn-raised{ href: "https://www.facebook.com/sharer/sharer.php?u=http://faces.comingout.space/face/#{session[:user_id]}"} Facebook!
      %button.btn.btn-twitter.btn-lg.btn-block.btn-raised Tweet!
      %button.btn.btn-warning.btn-lg.btn-block.btn-raised Download!
  .col-sm-6.col-sm-pull-6
    .slider
      - %w(lgbtqa L G B T Q A).each do |letter|
        .slide
          -#%img{ src: Photo.for_id(session[:user_id]).url(letter) }
          %img{ src: "/layers/#{letter.downcase}.png" }
%div.visible-xs
  %a.btn.btn-facebook.btn-lg.btn-block.btn-raised{ href: "https://www.facebook.com/sharer/sharer.php?u=http://faces.comingout.space/face/#{session[:user_id]}"} Facebook!
  %button.btn.btn-twitter.btn-lg.btn-block.btn-raised Tweet!
  %button.btn.btn-warning.btn-lg.btn-block.btn-raised Download!

:css
  .slider {
    background-image: url('#{Photo.for_id(session[:user_id]).url(:original)}');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .slider-dots { white-space: nowrap; }
  .slider-dots .btn-fab { width: 50px; min-width: 50px; height: 50px; }
