.row
  .col-sm-6.col-sm-push-6
    %h4 How do you identify?
    %p
      .slider-dots
        - %w(L G B T Q A).each_with_index do |letter, i|
          %button.btn.btn-success.btn-lg.btn-fab{ 'data-slide' => i + 1 }= letter
    .shares.hidden-xs
      = haml :sharing
  .col-sm-6.col-sm-pull-6
    .slider
      - %w(lgbtqa L G B T Q A).each do |letter|
        .slide
          %img{ src: "/layers/#{letter.downcase}.png" }
.shares.visible-xs
  = haml :sharing

:css
  .slider {
    background-image: url('#{Photo.for_id(session[:user_id]).url(:original)}');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .slider-dots { white-space: nowrap; }
  .slider-dots .btn-fab { width: 50px; min-width: 50px; height: 50px; }

:javascript
  window.userID = '#{session[:user_id]}'
